<div class="content-footer">
    <div class="footer">
        <div class="contacto">
            <h3>Contacto</h3>
            <p>Teléfono: 63605726 </p>
             <a href="https://wa.me/63605726" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
        
        </div>
        <div class="referencias">
            <h3>Referencias</h3>
            <p>Proveedor Principal: AgroCorp</p>
            <p>Certificaciones: ISO 9001, ISO 14001</p>
        
        </div>
        <div class="rrss">
            <h3>Síguenos en</h3>
            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a>
            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i> Twitter</a>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
            <a href="https://tiktok.com" target="_blank"><i class="fa-brands fa-tiktok"></i> Tiktok</a>
        </div>
        <div>
        
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.88413373694!2d-65.52159129033217!3d-16.83210318389656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e41547f5188c55%3A0xbb502f6e1deae9cc!2sAgritech%20S.R.L!5e0!3m2!1ses-419!2sbo!4v1717879283995!5m2!1ses-419!2sbo"
                width="300" height="250" style="border:0; "
                  allowfullscreen="" loading="lazy"
                referrerpolicy="referrer-when-downgrade">
            </iframe>
        </div>
        
    </div>
    
    <footer class="footer">
        <p>© 2024 Agritech. Todos los derechos reservados.</p>
    </footer>
</div>
