/* Header general */
.header {
  width: 100%;
  background-color: rgba(54, 171, 99, 0.4); /* Verde con 40% de opacidad */  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed  ;
   z-index: 10;
}

/* Contenedor logo + botón */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo */
.logo {
  width: 180px;
  height: auto;
  margin-left: 10%;
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Menú de navegación - escritorio */
nav.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: max-height 0.4s ease-in-out;
}

nav.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.nav ul li {
  margin: 0 1rem;
}

nav.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}

nav.nav ul li a:hover {
  background-color: #2BC9F8;
  color: #178c44;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav.nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(54, 171, 99, 0.4); /* Verde con 40% de opacidad */  
    overflow: hidden;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    max-height: 0;
    position: absolute;
    top: 100%;
    left: 0;
  }

  nav.nav.active {
    max-height: 300px;
  }

  nav.nav ul {
   
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
  }

  nav.nav ul li {
    margin: 0.5rem 0;
  }
}
