<header class="header">
  <div class="nav-container">
    <!-- Logo -->
    <img src="/assets/images/logo completo.svg" alt="Logo" class="logo">
 <!-- Navegación -->
 <nav [ngClass]="{ 'nav': true, 'active': isMenuOpen }">
  <ul>
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/products">Productos</a></li>
    <li><a routerLink="/Investigaciones">Investigación</a></li>
    <li><a routerLink="/blog">Blog</a></li>
  </ul>
</nav>
    <!-- Botón hamburguesa (solo visible en móviles) -->
    <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle navigation">
      <span class="menu-icon">&#9776;</span>
    </button>
  </div>

 
</header>
